#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    border: solid black 3px;
}

#main-container {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
}

#options-container {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#colour-picker-text {
    margin-bottom: -10px;
}

#grid-size {
    margin-bottom: -10px;
}